@charset "UTF-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #838383;
  border-left: 4px solid #e9e9e9;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 14px;
  margin: 2em 0;
  font-family: 'VeraMono';
  font-weight: 400;
  background-color: #f3f3f3;
  border-radius: 0;
  overflow: auto;
  word-wrap: break-word; }

code.inline {
  display: inline;
  margin: 0;
  padding: 2px 6px; }

code {
  padding: 1px 5px; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #838383; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #434343;
  border-bottom: 1px solid #e9e9e9;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #434343; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #434343; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e9e9e9;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #838383;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2)); }
  .footer-col-3 {
    width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: calc(100% - (30px / 2)); } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #838383; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
  text-align: left; }

.post-title {
  text-align: left;
  font-size: 28px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  color: #838383;
  line-height: 1; }
  @media (min-width: 48em) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

@font-face {
  font-family: "VeraMono";
  src: url("../fonts/VeraMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

body {
  margin-top: 60px; }

body.use-certbot nav.main-nav ul li:nth-of-type(2) a {
  color: #000; }

body.about nav.main-nav ul li:nth-of-type(3) a {
  color: #000; }

body.faq nav.main-nav ul li:nth-of-type(4) a {
  color: #000; }

body.docs nav.main-nav ul li:nth-of-type(5) a {
  color: #000; }

body.support nav.main-nav ul li:nth-of-type(6) a {
  color: #000; }

nav.main-nav body.source ul li:nth-of-type(2) a {
  color: #000; }

nav.main-nav {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95); }
  nav.main-nav img {
    position: absolute;
    display: block;
    width: 55px;
    top: 10px;
    left: 0; }
  nav.main-nav a {
    color: inherit;
    display: inline-block;
    text-decoration: none; }
    nav.main-nav a:hover {
      text-decoration: none; }
    nav.main-nav a:visited {
      color: inherit; }
  nav.main-nav ul {
    padding: 0;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0 !important;
    list-style-type: none;
    line-height: 60px;
    font-size: 0.75em;
    letter-spacing: 0em; }
    nav.main-nav ul:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 48em) {
      nav.main-nav ul {
        max-width: 60em;
        margin-left: auto;
        margin-right: auto; }
        nav.main-nav ul:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 66em) {
      nav.main-nav ul {
        max-width: 66em;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.07em;
        font-size: 0.9em; }
        nav.main-nav ul:after {
          content: " ";
          display: block;
          clear: both; } }
    nav.main-nav ul:after {
      content: ""; }
    nav.main-nav ul li {
      display: none;
      text-align: center;
      text-transform: lowercase;
      font-family: "Roboto Slab";
      font-size: 10.66667px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400; }
      nav.main-nav ul li:nth-of-type(1) {
        display: inline-block; }
        @media (min-width: 48em) {
          nav.main-nav ul li:nth-of-type(1) {
            display: none; } }
      @media (min-width: 48em) {
        nav.main-nav ul li {
          display: inline-block; } }
      @media (min-width: 48em) {
        nav.main-nav ul li {
          font-size: 13.91304px; } }
      nav.main-nav ul li.donate {
        color: #ec1c23;
        text-transform: none;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 1.5em; }
        @media (min-width: 48em) {
          nav.main-nav ul li.donate {
            position: relative;
            width: auto;
            font-size: inherit; } }
  @media (min-width: 48em) and (min-width: 48em) {
    nav.main-nav ul li.donate {
      font-size: 13.91304px; } }
        nav.main-nav ul li.donate:hover:after {
          position: absolute;
          content: '❤';
          margin-left: 5px; }
      nav.main-nav ul li.active {
        color: rgba(0, 0, 0, 0.95); }
      nav.main-nav ul li:hover:not(.donate) {
        color: rgba(0, 0, 0, 0.95); }

nav.main-nav.fixed {
  position: fixed; }

body > * {
  transition: transform 0.1s linear; }

body.active {
  overflow: hidden; }
  body.active > * {
    transform: translate3d(-260px, 0, 0); }
  body.active nav {
    position: fixed;
    top: 0;
    left: 0; }

#shelf {
  background-color: #363636;
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  z-index: 1;
  display: block;
  height: 100%; }
  #shelf ul {
    margin-top: 2.5em;
    margin-left: 2.5em;
    list-style-type: none; }
    #shelf ul li {
      margin-bottom: 0.5em; }
  #shelf a {
    color: rgba(255, 255, 255, 0.9); }
    #shelf a:visited {
      color: rgba(255, 255, 255, 0.9); }
    #shelf a:hover {
      text-decoration: none; }

#hamburger {
  position: absolute;
  right: 9px;
  top: 0px;
  font-size: 32px;
  display: inline-block; }
  @media (min-width: 48em) {
    #hamburger {
      display: none; } }
  #hamburger:hover {
    cursor: pointer; }

#close {
  position: absolute;
  right: 9px;
  top: 5px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 32px; }
  #close:hover {
    cursor: pointer; }

header.hero {
  padding-top: 2em;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  min-height: 320px;
  overflow: hidden;
  display: block;
  text-align: center;
  color: #000;
  background-color: #fff;
  clear: both; }
  @media (min-width: 48em) {
    header.hero {
      padding-top: 5em; } }
  @media (min-width: 48em) {
    header.hero {
      height: 420px;
      min-height: 0; } }
  header.hero img.logo {
    width: 80%;
    max-width: 480px;
    padding-top: 20px;
    margin-bottom: 0.5em; }
    @media (min-width: 48em) {
      header.hero img.logo {
        margin-top: -5em;
        width: 520px;
        max-width: 700px;
        margin-left: -5em; } }
    @media (min-width: 66em) {
      header.hero img.logo {
        width: 700px;
        max-width: 700px;
        margin-top: -5em;
        margin-left: -6em; } }
    header.hero img.logo:hover #wink {
      margin-top: 10px; }
  header.hero h1 {
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1em;
    margin: 0.8em auto 1.7em auto;
    max-width: 88%; }
    header.hero h1 a:visited {
      color: #838383; }
    header.hero h1 a:nth-of-type(1):visited {
      color: #40748e; }
    @media (min-width: 34em) {
      header.hero h1 {
        max-width: 460px;
        line-height: 1.2em; } }
    @media (min-width: 48em) {
      header.hero h1 {
        max-width: 600px;
        font-size: 1.3em; } }
  header.hero h2 {
    display: none;
    font-size: 0.9em;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin: 0;
    padding: 0;
    margin-top: -2.5em;
    margin-bottom: 2.5em; }
    @media (min-width: 48em) {
      header.hero h2 {
        display: block; } }
    @media (min-width: 66em) {
      header.hero h2 {
        font-size: 1em; } }

header.hero.subhero {
  margin-top: 0;
  min-height: 160px;
  height: 160px; }
  header.hero.subhero img {
    margin-top: 2em;
    width: 80%;
    max-width: 300px; }
    @media (min-width: 48em) {
      header.hero.subhero img {
        max-width: 480px; } }
  header.hero.subhero a {
    display: block; }
  @media (min-width: 48em) {
    header.hero.subhero img {
      padding-left: 30px;
      margin-top: 4em;
      margin-left: -380px;
      width: 400px;
      max-width: 400px !important; } }
  header.hero.subhero h1 {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em; }
  @media (min-width: 34em) {
    header.hero.subhero {
      height: 210px; } }

body:not(.index) header.hero.subhero {
  padding-top: 0; }

#wink {
  display: none;
  width: 15px;
  height: 10px;
  z-index: 500;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  transition: all ease 60ms;
  border-radius: 15px;
  left: 60px;
  top: -66px; }
  @media (min-width: 48em) {
    #wink {
      display: none; } }
  #wink.active {
    top: -59px;
    transition: all ease 60ms; }

footer.footer {
  position: relative;
  background-color: #363636;
  height: 510px;
  clear: both;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10vh; }
  @media (min-width: 48em) {
    footer.footer {
      height: 200px;
      max-height: 320px; } }
  @media (min-width: 48em) {
    footer.footer {
      padding-bottom: 0; } }
  footer.footer img.project-of {
    text-align: center;
    max-width: 200px;
    margin-bottom: 2.5vh;
    opacity: 0.2;
    display: inline-block; }

footer.footer ul {
  opacity: 0.65;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }
  footer.footer ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 48em) {
      footer.footer ul li {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; } }
    footer.footer ul li:last-of-type {
      padding-bottom: 60px;
      float: right;
      margin-right: 0; }
      @media (min-width: 48em) {
        footer.footer ul li:last-of-type {
          padding-bottom: 0; } }
  footer.footer ul a {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 0.75em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #eee !important;
    opacity: 0.8; }
    footer.footer ul a:hover {
      color: #aaa;
      text-decoration: none; }
  footer.footer ul img {
    display: inline-block;
    max-width: 120px; }

input,
select {
  background: transparent;
  border: 2px solid #ec1c23;
  height: 34px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  margin-top: 1.5em;
  display: block; }
  @media (min-width: 48em) {
    input,
    select {
      display: inline-block;
      margin: 0 1em; } }
  input:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 1px red; }
  input:hover,
  select:hover {
    cursor: pointer; }

input[type=submit] {
  background-color: #ec1c23;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto; }

select {
  width: 200px;
  text-align: left;
  background: url(../images/chevron-down.png) 94%/15% no-repeat transparent;
  background-size: 12px; }
  select option {
    text-align: left; }

#using, #on {
  display: none; }
  @media (min-width: 48em) {
    #using, #on {
      display: inline-block; } }

.advanced.instruction-pane {
  display: none; }

.instruction-widget {
  text-align: center;
  width: 200px;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .instruction-widget {
      font-size: 1.2em;
      width: auto; } }
  .instruction-widget select {
    height: 30px;
    font-size: 14px; }

tt {
  font-family: 'VeraMono' !important;
  font-weight: bold;
  font-size: 0.925em; }

h1.instruct {
  color: #838383; }

.instruction-pane-wrapper {
  border: 1px solid rgba(203, 209, 218, 0.4);
  padding: 2em; }

.instruction-pane h1, .instruction-pane h3, .instruction-pane h2 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  margin-top: 1em;
  font-size: 1.4em; }

.instructions.content {
  background-color: #fff;
  position: relative;
  text-align: center; }
  .instructions.content .instruction-pane {
    text-align: left; }
  .instructions.content .tab {
    width: 120px;
    display: inline-block;
    padding: 0.8em 0;
    font-family: 'Roboto Slab';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    text-transform: lowercase; }
    @media (min-width: 34em) {
      .instructions.content .tab {
        width: 180px; } }
    @media (min-width: 48em) {
      .instructions.content .tab {
        width: 250px; } }
    .instructions.content .tab:not(.active) {
      border-left: 1px solid #f3f3f3;
      border-top: 1px solid #f3f3f3;
      border-right: 1px solid #f3f3f3;
      background-color: rgba(0, 0, 0, 0.05);
      color: #aaa; }
      .instructions.content .tab:not(.active):hover {
        cursor: pointer;
        background-color: #e6e6e6;
        color: #666;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6; }
    .instructions.content .tab.active {
      border-left: 1px solid rgba(203, 209, 218, 0.4);
      border-right: 1px solid rgba(203, 209, 218, 0.4);
      border-top: 1px solid rgba(203, 209, 218, 0.4); }
  .instructions.content .tab.automated.active, .instructions.content .tab.advanced.active {
    color: black; }
    .instructions.content .tab.automated.active:after, .instructions.content .tab.advanced.active:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      margin-top: 12px;
      z-index: 5;
      border-bottom: 5px solid #fff; }
  .instructions.content #instructions-header {
    clear: both;
    margin-bottom: 1.2em;
    overflow: hidden; }
    .instructions.content #instructions-header a {
      color: #838383;
      font-family: 'Roboto Slab';
      font-size: 1.4em;
      outline: none; }
    .instructions.content #instructions-header a[name] {
      padding-top: 75px;
      margin-top: -75px;
      display: inline-block; }

.advanced.instruction-pane {
  display: none; }

.three {
  margin-top: 3em;
  margin-bottom: 2.5em;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .three figure {
    text-align: center;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 48em) {
      .three figure {
        box-sizing: border-box;
        width: 33.33333%;
        float: left; } }
    .three figure img {
      margin: 0 auto;
      width: 120px;
      opacity: 0.6; }
    .three figure a {
      color: #838383;
      text-decoration: none; }
      .three figure a:hover {
        color: rgba(0, 0, 0, 0.8); }
        .three figure a:hover > img {
          opacity: 0.8; }
    .three figure figcaption {
      margin-top: 1em; }
      .three figure figcaption p {
        font-size: 1.5em;
        text-transform: lowercase;
        letter-spacing: 0.03em;
        font-family: 'Roboto Slab';
        font-weight: 400; }

aside {
  box-sizing: border-box;
  padding: 0.5em 1.4em 0.5em 1.8em;
  width: 100%;
  min-height: 100px;
  text-align: left; }
  aside h1 {
    text-align: left;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Roboto Slab'; }
  aside p {
    font-family: 'Roboto';
    font-weight: 400; }

aside.note {
  background-color: rgba(185, 200, 212, 0.9); }

aside.warning {
  background-color: rgba(255, 170, 98, 0.9); }

body.faq .post-title {
  margin-left: 30px; }

.faq-toc, .faq-content {
  text-align: left; }
  .faq-toc .post-link, .faq-content .post-link {
    display: block;
    text-decoration: none;
    line-height: 1rem;
    font-size: 1rem;
    color: #40748e;
    font-weight: 400; }
  .faq-toc a, .faq-content a {
    outline: none;
    color: #40748e; }
    .faq-toc a:visited, .faq-content a:visited {
      color: #40748e; }
  .faq-toc a[name], .faq-content a[name] {
    padding-top: 110px;
    margin-top: -70px;
    display: inline-block; }

.faq-toc {
  padding-left: 22px; }
  .faq-toc .post-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0.5em; }

.faq-content {
  list-style-type: none; }
  .faq-content .post-link {
    margin-top: 20px;
    line-height: 1.8rem;
    font-size: 1.3rem;
    color: #000; }
    .faq-content .post-link:visited {
      color: #000; }

hr.faq-hr {
  border: 0;
  height: 1px;
  margin: 50px 0;
  border: 0;
  height: 0;
  border-bottom: 1px solid #a3a3a3; }

@media (min-width: 48em) {
  body:not(.index) footer.social {
    padding-top: 2em; } }

footer.social {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  z-index: 1000; }
  @media (min-width: 48em) {
    footer.social {
      position: relative;
      height: 120px; } }
  footer.social ul {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;
    display: block;
    width: 100%; }
    footer.social ul li {
      font-family: "Social";
      display: inline-block;
      line-height: 0;
      width: 50px;
      margin-right: 50px;
      transition: all 75ms linear; }
      footer.social ul li:last-of-type {
        margin-right: 0; }
      footer.social ul li:hover {
        background-color: #ec1c23;
        transition: all 75ms linear; }
        footer.social ul li:hover i {
          color: #fff; }
      @media (min-width: 48em) {
        footer.social ul li {
          border: 1px solid #ec1c23;
          width: 60px;
          height: 60px;
          border-radius: 60px;
          margin-right: 110px; } }
      footer.social ul li i {
        color: #ec1c23;
        font-size: 25px;
        line-height: 0; }
        @media (min-width: 48em) {
          footer.social ul li i {
            font-size: 40px;
            line-height: 60px;
            color: black; } }
      footer.social ul li a {
        padding: 0;
        margin: 0; }

@font-face {
  font-family: "Social";
  src: url("../fonts/Social.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Social";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\e800'; }

/* '' */
.icon-twitter:before {
  content: '\e801'; }

/* '' */
.icon-google:before {
  content: '\e802'; }

/* '' */
body.privacy .post-content h2 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem; }

#sni-warning {
  min-height: 50px;
  text-align: center; }

.page-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .page-content:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 48em) {
    .page-content {
      max-width: 34em;
      margin-left: auto;
      margin-right: auto; }
      .page-content:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 66em) {
    .page-content {
      max-width: 48em;
      margin-left: auto;
      margin-right: auto; }
      .page-content:after {
        content: " ";
        display: block;
        clear: both; } }

a {
  color: #40748e;
  font-weight: 400; }
  a:hover {
    color: #40748e; }

html, body, div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin-top: 60px;
  background-color: #f4f5f7; }

body.index {
  background-color: #fff; }

body, p, div {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab"; }

h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.35em; }

body:not(.index) .page-content {
  background-color: transparent; }

.page-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }
  .page-content:after {
    content: " ";
    display: block;
    clear: both; }

body:not(.index) .post-title {
  margin-bottom: -10px; }

@media (min-width: 48em) {
  body:not(.index) .page-content {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto; }
    body:not(.index) .page-content:after {
      content: " ";
      display: block;
      clear: both; }
  body:not(.index) .wrapper {
    margin-top: 1.5em; }
  body:not(.index) .subhero {
    padding-bottom: 3em; } }
